* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(192, 192, 192);
    border: rgb(192, 192, 192);
}

html {
    height: 1000px;
}

body {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-repeat: no-repeat;

    background-color: rgb(26, 25, 25);
}

div {
    margin-top: 15px;
    text-align: left; 
}

button {
    border-radius: 30px 30px 30px 30px;
    margin-top: 20px;
    padding: 30px 37px;
    background-color: rgb(58, 58, 58);
    color: white;
}

.column {
    float: left;
    height: 300px;  
}
  
.left {
    width: 25%;
}
  
.right {
    width: 75%;
}

.hidden {
    display: none;
}

.grass {
    color: green;
}

.rocks {
    color: rgb(107, 107, 107);
}

.gold {
    color: rgb(201, 201, 25)
}

.tooltip { /* Container for our tooltip */
    position: relative;   
    display: inline-block;
}

.tooltip .tooltiptext { /* This is for the tooltip text */
    visibility: hidden;
    width: 100px;
    background-color: #575757;
   color: white;
   text-align: center;
   padding: 10px;
   border-radius: 10px;  /* This defines tooltip text position */
   position: absolute;
   z-index: 1;
} 

.tooltip:hover .tooltiptext { /* Makes tooltip text visible when text is hovered on */
   visibility: visible;
}